.bodyIndex{
	background-image: url("../Resources/HomeBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0px;
	padding: 0px;
}

.bodyRegister{
	background-image: url("../Resources/AboutUsBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0px;
	padding: 0px;
}

.bodyPhotographers{
	background-image: url("../Resources/PhotographersBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0px;
	padding: 0px;
}

.bodyVideographers{
	background-image: url("../Resources/VideographersBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0px;
	padding: 0px;
}

.bodyGallery{
	background-image: url("../Resources/GalleryBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0px;
	padding: 0px;
}

.bodyLeaderboard{
	background-image: url("../Resources/GalleryBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0px;
	padding: 0px;
}

.top{
	position: relative;
}

.header{
	background-color: rgba(0, 0, 0, 0.7);
	padding-top: 10px;
}

@font-face{
	font-family: headerFont;
	src: url("../Resources/Giorgio.ttf");
}

.headerText{
	font-family: headerFont;
	margin: 0px;
	font-size: 500%;
	color: rgb(255,255,255);
	text-align: center;
}

.tabsBar{
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
}

.tab{
	font-family: headerFont;
	background-color: rgba(255,255,255,0.7);
	color: rgb(0,0,0);
	padding: 5px;
	font-size: 150%;
	text-decoration: none;
}

.tab:hover{
	transition: all 0.5s ease-in-out;
	background-color: rgba(219, 33, 33, 0.9);
	color: rgb(255,255,255);
}

.tabc{
	margin-right: 0px;
	font-family: headerFont;
	background-color: rgba(219, 33, 33, 0.7);
	color: rgb(255,255,255);
	padding: 5px;
	padding-right: 5px;
	font-size: 150%;
	text-decoration: none;
}

.tabc:hover{
	transition: all 0.5s ease-in-out;
	background-color: rgba(219, 33, 33, 0.9);
	color: rgb(255,255,255);
}

.footer{
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	margin: 0px;
	padding: 10px;
	padding-left: 100px;
	padding-right: 100px;
	width: 100%
}

.footerAboutUs{
	font-family: headerFont;
	margin: 0px;
	padding: 0px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 70%;
	color: rgb(255,255,255);
	text-align: left;
	text-align: justify;
	width: 300px
}

.footerContacts{
	font-family: headerFont;
	margin: 0px;
	padding: 0px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 70%;
	color: rgb(255,255,255);
	text-align: center;
	text-align: justify;
	width: 300px
}

.footerFollowUs{
	font-family: headerFont;
	margin: 0px;
	padding: 0px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 70%;
	color: rgb(255,255,255);
	text-align: center;
	text-align: justify;
	width: 300px
}

.regForm{
	margin-left: 20%;
	margin-right: 20%;
	padding: 5%;
	margin-bottom: 5%;
	margin-top: 5%;
	background-color: rgba(0,0,0,0.7);
}

.regFieldTD{
	width: 100%;
}

.regField{
	width: 80%;
    margin: 2%;
    padding: 5px;
    border: white solid 2px;
    font-size: 20px;
    font-family: headerFont;
    margin-left: 7%;
}

.regFieldText{
	font-family: headerFont;
    color: rgb(255,255,255);
}

.checkboxText{
	font-family: headerFont;
    color: rgb(255,255,255);
    vertical-align: super;
}

.checkboxField{
	width: 7%;
	height: 24px;
    border: white solid 2px;
    margin-left: 8%;
}

.regSubmit{
	background-color: white;
    font-family: headerFont;
    border: white solid 2px;
    width: 20%;
    padding: 8px;
	font-size: 18px;
    margin-left: 80%;
    margin-top: 5%;
}

.regSubmit:hover{
	transition: all 0.5s ease-in-out;
	background-color: rgba(219, 33, 33, 0.9);
	border: rgba(219, 33, 33, 0.9) solid 2px;
	color: rgb(255,255,255);
}

#slider, .wrap, .slide-content{
	margin: 0;
	padding: 0;
	font-family: headerfont;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
}

.wrap{
	position: relative;
	margin-bottom: 1%;
}

.slide{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.slide1{background-image: url(../Resources/image1.jpg);}
.slide2{background-image: url(../Resources/image2.jpg);}
.slide3{background-image: url(../Resources/image3.jpg);}

.slide-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.slide-content span{
	font-size: 4rem;
	color: white;
	width: 80%;
}

.arrow{
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -35px;
	widows: 0;
	height: 0;
	border-style: solid;
	opacity: 0.3;
}

.arrow:hover{
	transition: all 0.2s ease-in-out;
	opacity: 1;
}

#arrow-left{
	border-width: 30px 40px 30px 0;
	border-color: transparent #fff transparent transparent;
	left: 0;
	margin-left: 30px;
}

#arrow-right{
	border-width: 30px 0 30px 40px;
	border-color: transparent transparent transparent #fff;
	right: 0;
	margin-right: 30px;
}

.latest{
	width: 100%;
	height: 300vh;
	margin: 0;
	padding: 0;
	font-family: headerfont;
}

.latestSections{
	width: 100%;
	height: 25%;
}

.latestLeftPictures, .latestRightPictures{
	width: 50%;
}

.latestLeftPictures{
	float: left;
}

.latestRightPictures{
	float: right;
}

.latestLeftText, .latestRightText{
	width: 46%;
	height: 94.9%;
	background-color: rgba(255,255,255,0.5);
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	padding-left: 2%;
	padding-right: 2%;
}

.latestLeftText{
	float: left;
}

.latestRightText{
	float: right;
}

.search{
	text-align: center;
	margin: 5vh;
}

.searchText{
	width: 20%;
	height: 6vh;
	border: solid;
	border-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	font-family: headerFont;
	font-size: 1.1rem;
	text-align: center;
	vertical-align: top;
	background-color: rgba(255,255,255,0.5);
}

.searchButton{
	width: 5.7vh;
	height: 5.7vh;
	border: solid;
	border-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	background-color: rgba(172, 172, 172, 0.5);
}

.SearchIcon{
	width: 100%;
	margin-top: 15%;
}

.PhotographersTable{
	width: 100%;
	margin-left: 0.5%;
}

.videographersTable{
	width: 100%;
	margin-left: 0.5%;
}

.PhotographersProfile1{
	background-color: rgba(255, 255, 255, 0.5);
	font-family: headerFont;
	font-size: 1rem;
	margin: 5%;
	padding: 2%;
	width: 80%;
}

.PhotographersProfile2{
	background-color: rgba(255,255,255,0.5);
	font-family: headerFont;
	font-size: 1rem;
	margin: 5%;
	padding: 2%;
	width: 80%;
}

.PhotographersProfile3{
	background-color: rgba(255, 255, 255, 0.5);
	font-family: headerFont;
	font-size: 1rem;
	margin: 5%;
	padding: 2%;
	width: 80%;
}

.PhotographersProfile4{
	background-color: rgba(255,255,255,0.5);
	font-family: headerFont;
	font-size: 1rem;
	margin: 5%;
	padding: 2%;
	width: 80%;
}

.videographersProfile1{
	background-color: rgba(255, 255, 255, 0.5);
	font-family: headerFont;
	font-size: 1rem;
	margin: 5%;
	padding: 2%;
	width: 80%;
}

.videographersProfile2{
	background-color: rgba(255,255,255,0.5);
	font-family: headerFont;
	font-size: 1rem;
	margin: 5%;
	padding: 2%;
	width: 80%;
}

.videographersProfile3{
	background-color: rgba(255, 255, 255, 0.5);
	font-family: headerFont;
	font-size: 1rem;
	margin: 5%;
	padding: 2%;
	width: 80%;
}

.videographersProfile4{
	background-color: rgba(255,255,255,0.5);
	font-family: headerFont;
	font-size: 1rem;
	margin: 5%;
	padding: 2%;
	width: 80%;
}

.gallery{
	margin: 0;
	margin-bottom: 1%;
	padding: 1%;
	overflow-x: hidden;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.7)
}

.galleryImage{
	width: 16.4%;
}

.galleryImage:hover{
	transition: all 0.3s ease-in-out;
	transform: scale(1.5);
}

.leaderboardTable{
	font-family: headerFont;
	font-size: 2rem;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: 2%;
	padding: 2%;
	width: 80%;
}

.leaderboardTableRow{
	padding: 2%;
	margin: 2%;
}

.leaderboardTableHeader{
	padding: 2%;
	background-color: rgba(255,255,255,0.7);
}

.leaderboardTableData{
	padding: 2%;
	background-color: rgba(255,255,255,0.5);
}

.leaderboardTableData:hover{
	transition: all 0.2s ease-in-out;
	transform: scale(1.2);
	background-color: #fff;
}