.bodyIndex{
	background-image: url("../Resources/HomeBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0px;
	padding: 0px;
}

.bodyRegister{
	background-image: url("../Resources/AboutUsBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0px;
	padding: 0px;
}

.bodyPhotographers{
	background-image: url("../Resources/PhotographersBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0px;
	padding: 0px;
}

.bodyVideographers{
	background-image: url("../Resources/VideographersBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0px;
	padding: 0px;
}

.bodyGallery{
	background-image: url("../Resources/GalleryBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0px;
	padding: 0px;
}

.header{
	background-color: rgba(0, 0, 0, 0.7);
	padding-top: 10px;
}

@font-face{
	font-family: headerFont;
	src: url("../Resources/Giorgio.ttf");
}

.headerText{
	font-family: headerFont;
	margin: 0px;
	font-size: 500%;
	color: rgb(255,255,255);
	text-align: center;
}

.tabsBar{
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
}

.tab{
	font-family: headerFont;
	background-color: rgba(255,255,255,0.7);
	color: rgb(0,0,0);
	padding: 5px;
	font-size: 150%;
	text-decoration: none;
}

.tab:hover{
	transition: all 0.5s ease-in-out;
	background-color: rgba(219, 33, 33, 0.9);
	color: rgb(255,255,255);
}

.tabc{
	margin-right: 0px;
	font-family: headerFont;
	background-color: rgba(219, 33, 33, 0.7);
	color: rgb(255,255,255);
	padding: 5px;
	padding-right: 5px;
	font-size: 150%;
	text-decoration: none;
}

.tabc:hover{
	transition: all 0.5s ease-in-out;
	background-color: rgba(219, 33, 33, 0.9);
	color: rgb(255,255,255);
}

.footer{
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	margin: 0px;
	padding: 10px;
	padding-left: 100px;
	padding-right: 100px;
	width: 100%
}

.footerAboutUs{
	font-family: headerFont;
	margin: 0px;
	padding: 0px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 70%;
	color: rgb(255,255,255);
	text-align: left;
	text-align: justify;
	width: 300px
}

.footerContacts{
	font-family: headerFont;
	margin: 0px;
	padding: 0px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 70%;
	color: rgb(255,255,255);
	text-align: center;
	text-align: justify;
	width: 300px
}

.footerFollowUs{
	font-family: headerFont;
	margin: 0px;
	padding: 0px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 70%;
	color: rgb(255,255,255);
	text-align: center;
	text-align: justify;
	width: 300px
}

.regForm{
	margin-left: 20%;
	margin-right: 20%;
	padding: 5%;
	margin-bottom: 5%;
	margin-top: 5%;
	background-color: rgba(0,0,0,0.7);
}

.regFieldTD{
	width: 100%;
}

.regField{
	width: 80%;
    margin: 2%;
    padding: 5px;
    border: white solid 2px;
    font-size: 20px;
    font-family: headerFont;
    margin-left: 7%;
}

.regFieldText{
	font-family: headerFont;
    color: rgb(255,255,255);
}

.checkboxText{
	font-family: headerFont;
    color: rgb(255,255,255);
    vertical-align: super;
}

.checkboxField{
	width: 7%;
	height: 24px;
    border: white solid 2px;
    margin-left: 8%;
}

.regSubmit{
	background-color: white;
    font-family: headerFont;
    border: white solid 2px;
    width: 20%;
    padding: 8px;
	font-size: 18px;
    margin-left: 80%;
    margin-top: 5%;
}

.regSubmit:hover{
	transition: all 0.5s ease-in-out;
	background-color: rgba(219, 33, 33, 0.9);
	border: rgba(219, 33, 33, 0.9) solid 2px;
	color: rgb(255,255,255);
}

#slider, .wrap, .slide-content{
	margin: 0;
	padding: 0;
	font-family: headerfont;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
}

.wrap{
	position: relative;
}

.slide{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.slide1{background-image: url(../Resources/image1.jpg);}
.slide2{background-image: url(../Resources/image2.jpg);}
.slide3{background-image: url(../Resources/image3.jpg);}

.slide-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.slide-content span{
	font-size: 4rem;
	color: white;
	width: 80%;
}

.arrow{
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -35px;
	widows: 0;
	height: 0;
	border-style: solid;
}

#arrow-left{
	border-width: 30px 40px 30px 0;
	border-color: transparent #fff transparent transparent;
	left: 0;
	margin-left: 30px;
}

#arrow-right{
	border-width: 30px 0 30px 40px;
	border-color: transparent transparent transparent #fff;
	right: 0;
	margin-right: 30px;
}

.PhotographersTable{
	width: 100%;
}

.videographersTable{
	width: 100%;
}

.PhotographersTableData{
	width: 30%;
}

.videographersTableData{
	width: 45%;
}

.PhotographersProfile1{
	background-color: rgba(255, 255, 255, 0.8);
	font-family: headerFont;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 11%;
	padding: 2%;
	float: left;
}

.PhotographersProfile2{
	background-color: rgba(255,255,255,0.8);
	font-family: headerFont;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-right: 11%;
	padding: 2%;
	float: right;
}

.videographersProfile1{
	background-color: rgba(255, 255, 255, 0.8);
	font-family: headerFont;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 11%;
	padding: 2%;
	float: left;
}

.videographersProfile2{
	background-color: rgba(255,255,255,0.8);
	font-family: headerFont;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-right: 11%;
	padding: 2%;
	float: right;
}