.bodyIndex{
	background-image: url("../Resources/HomeBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0px;
	padding: 0px;
}

.bodyRegister{
	background-image: url("../Resources/AboutUsBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0px;
	padding: 0px;
}

.bodyPhotographers{
	background-image: url("../Resources/PhotographersBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0px;
	padding: 0px;
}

.bodyVideographers{
	background-image: url("../Resources/VideographersBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0px;
	padding: 0px;
}

.header{
	background-color: rgba(0, 0, 0, 0.7);
	margin: 0px;
	padding: 0px;
	padding-top: 10px;
	width: 100%;
	top: 0;
	left: 0;
}

@font-face{
	font-family: headerFont;
	src: url("../Resources/Giorgio.ttf");
}

.headerText{
	font-family: headerFont;
	margin: 0px;
	padding: 0px;
	font-size: 500%;
	color: rgb(255,255,255);
	text-align: center;
}

.tabsBar{
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
}

.tab{
	margin-right: 0px;
	font-family: headerFont;
	background-color: rgba(255,255,255,0.7);
	color: rgb(0,0,0);
	padding: 5px;
	padding-right: 5px;
	font-size: 150%;
	text-decoration: none;
}

.tab:hover{
	transition: all 0.5s ease-in-out;
	background-color: rgba(219, 33, 33, 0.9);
	color: rgb(255,255,255);
}

.tabc{
	margin-right: 0px;
	font-family: headerFont;
	background-color: rgba(219, 33, 33, 0.7);
	color: rgb(255,255,255);
	padding: 5px;
	padding-right: 5px;
	font-size: 150%;
	text-decoration: none;
}

.tabc:hover{
	transition: all 0.5s ease-in-out;
	background-color: rgba(219, 33, 33, 0.9);
	color: rgb(255,255,255);
}

.footer{
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	margin: 0px;
	padding: 10px;
	padding-left: 100px;
	padding-right: 100px;
	width: 100%
}

.footerAboutUs{
	font-family: headerFont;
	margin: 0px;
	padding: 0px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 70%;
	color: rgb(255,255,255);
	text-align: left;
	text-align: justify;
	width: 300px
}

.footerContacts{
	font-family: headerFont;
	margin: 0px;
	padding: 0px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 70%;
	color: rgb(255,255,255);
	text-align: center;
	text-align: justify;
	width: 300px
}

.footerFollowUs{
	font-family: headerFont;
	margin: 0px;
	padding: 0px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 70%;
	color: rgb(255,255,255);
	text-align: center;
	text-align: justify;
	width: 300px
}

.regForm{
	margin-left: 20%;
	margin-right: 20%;
	padding: 5%;
	margin-bottom: 5%;
	margin-top: 5%;
	background-color: rgba(0,0,0,0.7);
}

.regField{
	width: 50%;
    height: 24px;
    margin: 5px;
    padding: 5px;
    border: white solid 2px;
    font-size: 20px;
    font-family: headerFont;
}

.regFieldText{
	font-family: headerFont;
    font-weight: lighter;
    font-style: inherit;
    color: rgb(255,255,255);
}

.checkboxText{
	font-family: headerFont;
    font-weight: lighter;
    font-style: inherit;
    color: rgb(255,255,255);
}

.checkboxField{
	width: 3%;
	height: 20px;
    margin: 5px;
    padding: 5px;
    border: white solid 2px;
    font-size: 20px;
    font-family: headerFont;
    margin-left: 20px;
}

.regSubmit{
	background-color: white;
    font-family: headerFont;
    border: white solid 2px;
    color: rgb(0,0,0);
    width: 20%;
    padding: 8px;
    font-size: 18px;
    margin-left: 80%;
}

.regSubmit:hover{
	transition: all 0.5s ease-in-out;
	background-color: rgba(219, 33, 33, 0.9);
	border: rgba(219, 33, 33, 0.9) solid 2px;
	color: rgb(255,255,255);
}

.slideShow{
	height: 720px;
	width: 1280px; 
	margin: 20px auto;
	position: relative;
}

#imge{
	height: 100%;
	width: 100%;
	position: absolute;
}  

#leftHolder {
	height: 500px;
	width: 100px;
	position: absolute;
    left: 0px;
	top: 0px;
}

#rightHolder{
    height: 500px;
	width: 100px;
	position: absolute;
	top: 0px;
	right: 0px;
} 

#left{
	background-color: rgba(0,0,0,0.7);
	height: 720px;
	width: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#right{
	background-color: rgba(0,0,0,0.7);
	height: 720px;
	width: 100px;
	position: absolute;
	top: 0px;
	right: 0px;
}
